{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/prop-types": 0,
    "class-methods-use-this": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "consistent-return": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-restricted-syntax": [
      2,
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "react/jsx-filename-extension": [0, {
      "extensions": [".js", ".jsx"]
    }]
  }
}
